* {
    box-sizing: border-box;
}

body {
    margin:0;
}

nav {
    background-color: black;
    width: 100%;
    padding-left: 30px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


#logo-img {
    width:90px;
    height:90px;
}

ul {
    
}

li {
    list-style: none;
    display: inline-block;
}

li a {
    color: #C5C5C5;
    font-family: "Eastman";
    text-decoration: none;
    transition: opacity .5s;
    display: inline-block;
}

@font-face {
    font-family: "Eastman";
    src: url(./fonts/RoobertPROTRIAL-Bold.otf);
}
